.wrapper {
    width: 100%;
    max-width: 360px;
    flex: 1;
}

.inner {
    margin-top: 75px;
    display: grid;
    position: relative;
    padding: 50px 10px;
    margin-bottom: 25px;
    align-items: center;
    background-color: var(--white);
    border-radius: var(--radius);
    justify-content: center;
}

.loading {
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--green);
    position: absolute;
    transition: all 0.15s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-radius: var(--radius);
}

.wrapper:hover .svg, .wrapper:focus .svg {
    fill: var(--blue);
}

.input {
    top: 0;
    left: 0;
    width: 100%;
    cursor: pointer;
    height: 100%;
    z-index: 3;
    background-color: #DAD7FE;
    position: absolute;
    opacity: 0;
}

.svg {
    fill:var(--black);
    width: 80px;
    height: 50px;
    margin-bottom: 20px;
    transition: all 0.15s ease;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin-right: 15px;
    font-size: 20px;
}

.button {
    width: 100%;
    max-width: 360px;
    flex: 1;
    background-color: var(--blue);
}

.buttonText {
    color: var(--white);
}

.buttonIcon {
    margin-right: 10px;
    fill:var(--white);
    width: 20px;
    height: 15px;
}
