.wrapper {
    padding: 15px 10px;
    margin-bottom: 15px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    background-color: var(--white);
    border-radius: var(--radius);
    cursor: pointer;
}

.wrapper:hover .name, .wrapper:focus .name {
    text-decoration: underline;
    color: var(--blue);
}

.wrapper:hover .date  {
    grid-column-start: 3;
}

.wrapper:hover .size  {
    grid-column-start: 4;
}

.wrapper:hover .button  {
   display: block;
}


.wrapper:hover .download  {
    grid-column-start: 5;
}

.wrapper:hover .delete  {
    grid-column-start: 6;
}



.name {

}

.icon {

}

.type {

}

.button {
    margin: 0 auto;
    background-color: var(--light-red);
    height: 30px;
    display: none;
    z-index: 3;
    position: relative;
}

.size {
    grid-column-start: 6;
    justify-self: center;
}

.date {
    grid-column-start: 5;
    justify-self: center;
}
